html,
body,
#root,
main {
  height: 100%;
}

body {
  margin: 0;
}

p {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.auth-logo {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.logo {
  height: 40px;
}

.search-icon {
  height: 22px;
}

.profile-photo-lg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-photo-md {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-photo-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-content {
  padding-left: 40px;
}

p {
  margin-bottom: 0 !important;
}

.btn:hover,
.btn:active,
.back-button:hover {
  opacity: 0.9;
}

.unfollow-btn,
.follow-btn {
  width: 95px;
}

.link:hover,
.btn:hover,
input[type='submit']:hover,
.back-button:hover {
  cursor: pointer;
}

.link-hover-decoration:hover {
  text-decoration: underline !important;
}

.back-button {
  width: 28px;
}

.options button {
  background-color: transparent;
  border: 0;
}

.options button img {
  width: 22px;
}

.like-icon,
.like-icon-comment {
  margin-right: 6px;
}

.like-icon-comment {
  width: 18px;
}

.post-comment-btn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.post-comment-btn img {
  width: 20px;
  height: 20px;
}

.x-icon {
  width: 20px;
}

.post-photo,
.post-photo-container {
  max-width: 100%;
}
